<!DOCTYPE html>
<html lang="en">
  <head>
    <title>index</title>
    @@include('../inc/head.inc')
  </head>
  <body>
 	@@include('../inc/nav.inc')
		<h6>Bootstrap Demo</h6>
		<!-- ajax表格示例 -->
		<div class="row">
		  <div class="col-sm-12">  
		    <div class="panel panel-default">
		        <div class="panel-heading"><b>表格(此示例展示了ajax分页)</b>
		        <button type="button" class="btn btn-primary" onclick='table1.reload()'>重新载入(返回第一页)</button>
		        <button type="button" class="btn btn-primary" onclick='table1.refresh()'>刷新 </button> 
		        <button type="button" class="btn btn-primary" onclick="javascript:alert('主键列表:'+vm.UserListSelects.join(','))">我选中了哪几行？ </button> 
		        <button type="button" class="btn btn-primary" onclick='add()'>添加数据</button>
		        
		        </div>
		        <div class="panel-body">
		        	<div class="table-responsive">
		        	 <table width="100%" class="table table-striped table-bordered table-hover" id="vue-table1">
	                     <thead>
	                         <tr>
	                          <th><input type="checkbox"  v-model="UserList_CheckAll" />({{UserList_CheckCount}})</th>
	                          <th>序号</th>
	                          <th>操作</th>
	                          <th>客户姓名</th>
	                          <th>联系方式</th>
	                          <th>用户状态</th>
	                          <th>合同号</th>
	                          <th>装修小区</th>
	                          <th>装修地址</th>
	                          <th>收费面积</th>
	                          <th>购买套餐</th>
	                          <th>管家姓名</th>
	                          <th>提交时间</th>
	                         </tr>
	                     </thead>
	                     <tbody>
	                    <!-- 节点遍历 -->
						<tr v-for="item in UserList">
							<td><input type="checkbox" :value="item.userId" v-model="UserListSelects" /></td>
							<td>{{item.vueIndex}}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs" v-on:click="UserInfo_Edit(item,$event)">修改</button>
								<button type="button" class="btn btn-warning btn-xs" v-on:click="UserInfo_Delete(item,$event)">删除</button>
							</td>
							<td>{{ item.username }}</td>
							<td>{{ item.cellphone }}</td>
							<td>{{ false | switch_1}}</td>
							<td>1009289</td>
							<td>帆帆帆帆帆帆帆帆</td>
							<td>朝阳区望京园</td>
							<td>130</td>
							<td>888糖果装</td>
							<td>xingxing</td>
							<td>{{ item.createTime.hours }}:{{ item.createTime.minutes }}:{{ item.createTime.seconds }}</td>
						</tr>
					</tbody>
	                 </table>
	                 </div>
	                    <ul id="vue-pager1" class="pagination pull-right">
	                    </ul>
				</div>		  
			  </div>
		  </div>
		</div>
		<!-- ajax表格示例 -->
		<div class="row">
		  <div class="col-sm-12">  
		    <div class="panel panel-default">
		        <div class="panel-heading"><b>表格(多表格的差异)</b>
		        <button type="button" class="btn btn-primary" onclick='table2.reload()'>重新载入(返回第一页)</button>
		        <button type="button" class="btn btn-primary" onclick='table2.refresh()'>刷新 </button>
		        </div>
		        <div class="panel-body">
		        	<div class="table-responsive">
		        	 <table width="100%" class="table table-striped table-bordered table-hover" id="vue-table2">
	                     <thead>
	                         <tr>
	                          <th><input type="checkbox" v-model="UserList2_CheckAll" />({{UserList2_CheckCount}})</th>
	                          <th>序号</th>
	                          <th>操作</th>
	                          <th>客户姓名</th>
	                          <th>联系方式</th>
	                          <th>用户状态</th>
	                          <th>合同号</th>
	                          <th>装修小区</th>
	                          <th>装修地址</th>
	                          <th>收费面积</th>
	                          <th>购买套餐</th>
	                          <th>管家姓名</th>
	                          <th>提交时间</th>
	                         </tr>
	                     </thead>
	                     <tbody>
	                    <!-- 节点遍历 -->
											<tr v-for="item in UserList2">
												<td><input type="checkbox" :value="item.userId" v-model="UserListSelects2" /></td>
												<td>{{item.vueIndex}}</td>
												<td>
													<button type="button" class="btn btn-primary btn-xs" v-on:click="UserInfo_Edit(item,$event)">修改</button>
													<button type="button" class="btn btn-warning btn-xs" v-on:click="UserInfo_Delete(item,$event)">删除</button>
												</td>
												<td>{{ item.username }}</td>
												<td>{{ item.cellphone }}</td>
												<td>{{ false | switch_1}}</td>
												<td>1009289</td>
												<td>帆帆帆帆帆帆帆帆</td>
												<td>朝阳区望京园</td>
												<td>130</td>
												<td>888糖果装</td>
												<td>xingxing</td>
												<td>{{ item.createTime.hours }}:{{ item.createTime.minutes }}:{{ item.createTime.seconds }}</td>
											</tr>
										</tbody>
	                 </table>
	                 </div>
                    <ul id="vue-pager2" class="pagination pull-right">
                    </ul>
				</div>		  
			  </div>
		  </div>
		</div>
		
		<h4>以下为UI示例</h4>
		<h6>搜索面板UI示例</h6>
		<form class="row">
		  <div class="col-sm-12">  
		    <div class="panel panel-default">
		        <div class="panel-heading"><b>筛选</b></div>
		        <div class="panel-body form-inline">
		        
					  <div class="form-group"><label>联系电话：</label><input type="text" class="form-control" placeholder="placeholder"></div>
					  
					  <div class="form-group"><label>客户姓名：</label><input type="text" class="form-control" placeholder="placeholder"></div>
					  
					  <div class="form-group"><label>客户分级：</label><input type="text" class="form-control" placeholder="placeholder"></div>
					  
					  <div class="form-group"><label>变更单号：</label><input type="text" class="form-control" placeholder="placeholder"></div>
				
					  <div class="form-group"><label>合同号：</label><input type="text" class="form-control" placeholder="placeholder"></div>
					  
					  <div class="form-group"><label>管家：</label>
						  <select class="form-control">
			                   <option>1</option>
			                   <option>2</option>
			                   <option>3</option>
			                   <option>4</option>
			                   <option>5</option>
			               </select>
					  </div>
					  
					  <div class="form-group"><label>提交时间：</label>
					  <input class="Wdate-no-border form-control" readonly="readonly" id="date1" onclick="WdatePicker({ minDate:'#F{$dp.$D(\'date2\',{d:-31});}',maxDate:'#F{$dp.$D(\'date2\',{d:0});}'})" />
					  -
					  <input class="Wdate-no-border form-control" readonly="readonly" id="date2" onclick="WdatePicker({minDate:'#F{$dp.$D(\'date1\',{d:0});}',maxDate:'#F{$dp.$D(\'date1\',{d:31});}'})" />
					  </div>
					  <div class="form-group"><button type="submit" class="btn btn-primary btn-sm">查询</button></div>
				  </div>			  
			  </div>
		  </div>
		</form>
		<h6>选项卡UI示例</h6>
		<div class="row">
		    <div class="col-lg-12">
		        <div class="panel panel-default">
		            <div class="panel-heading"><b>视图</b></div>
		            <div class="panel-body">
		                <ul class="nav nav-tabs">
		                    <li class="active"><a href="#p1" data-toggle="tab">变更单审核<h6 class="text-danger">[待审核]</h6></a>
		                    </li>
		                    <li><a href="#p2" data-toggle="tab">异常处理审核<h6 class="text-primary">[已审核]</h6></a>
		                    </li>
		                    <li><a href="#p3" data-toggle="tab">收款审核<h6 class="text-success">[已审核]</h6></a>
		                    </li>
		                    <li><a href="#p3" data-toggle="tab">收款审核<h6 class="text-muted">[已审核]</h6></a>
		                    </li>
		                    <li><a href="#p3" data-toggle="tab">收款审核<h6 class="text-success">[已审核]</h6></a>
		                    </li>
		                    <li><a href="#p3" data-toggle="tab">收款审核<h6 class="text-info">[已审核]</h6></a>
		                    </li>
		                    <li><a href="#p3" data-toggle="tab">收款审核<h6 class="text-warning">[已审核]</h6></a>
		                    </li>
		                </ul>
		                 <div class="tab-content">
		                     <div id="p1" class="tab-pane fade in active">
		                     	<br>
				  	        	  <div class="table-responsive">
		                          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
			                        <thead>
			                            <tr>
				                            <th>序号</th>
				                            <th>操作</th>
				                            <th>客户姓名</th>
				                            <th>联系方式</th>
				                            <th>客户分级</th>
				                            <th>合同号</th>
				                            <th>装修小区</th>
				                            <th>装修地址</th>
				                            <th>收费面积</th>
				                            <th>购买套餐</th>
				                            <th>管家姓名</th>
				                            <th>提交时间</th>
			                            </tr>
			                        </thead>
			                        <tbody>
										<tr class="odd gradeX">
											<td>1</td>
											<td>
												<button type="button" class="btn btn-warning btn-xs">审核</button>
												<button type="button" class="btn btn-primary btn-xs">详情</button>
											</td>
											<td>贪凉</td>
											<td>13535355576</td>
											<td>AT</td>
											<td>1009289</td>
											<td>望京</td>
											<td>朝阳区望京园</td>
											<td>130</td>
											<td>888糖果装</td>
											<td>xingxing</td>
											<td>2016-10-10 15:00</td>
										</tr>
		
			                        </tbody>
			                    </table>
			                    </div>
			                      <ul class="pagination pull-right">
									    <li>
									      <a href="#" aria-label="Previous">
									        <span aria-hidden="true">&laquo;</span>
									      </a>
									    </li>
									    <li><a href="#">1</a></li>
									    <li><a href="#">2</a></li>
									    <li><a href="#">3</a></li>
									    <li><a href="#">4</a></li>
									    <li><a href="#">5</a></li>
									    <li>
									      <a href="#" aria-label="Next">
									        <span aria-hidden="true">&raquo;</span>
									      </a>
									    </li>
								  </ul>
		                     </div>
		                     <div id="p2" class="tab-pane fade">
			                     p2
		                     </div>
		                     <div id="p3" class="tab-pane fade">
			                     p3
		                     </div>
		                 </div>
		                   
		            </div>
				
		        </div>
		    </div>
		</div>
		<h6>表格UI示例</h6>
		<div class="row">
		  <div class="col-sm-12">  
		    <div class="panel panel-default">
		        <div class="panel-heading"><b>基本信息</b></div>
		        <div class="panel-body">
			        <div class="row">
					  <div class="col-sm-3 col-xs-12">
							<ul class="list-group">
							  <li class="list-group-item"><b>用户基本信息</b></li>
							  <li class="list-group-item">客户姓名：旺旺</li>
							  <li class="list-group-item">联系方式：13700112933</li>
							  <li class="list-group-item">装修小区：望京园</li>
							  <li class="list-group-item">装修地址：望京园609号楼悠乐汇A座</li>
							  <li class="list-group-item">合同号：139928008</li>
							</ul>
					  </div>
					  <div class="col-sm-3 col-xs-12">
							<ul class="list-group">
							  <li class="list-group-item"><b>人员信息</b></li>
							  <li class="list-group-item">客户经理：旺旺</li>
							  <li class="list-group-item">设计师：旺旺</li>
							  <li class="list-group-item">管家：旺旺</li>
							  <li class="list-group-item">工长：旺旺</li>
							</ul>
					  </div>
					  <div class="col-sm-3 col-xs-12">
							<ul class="list-group">
	  						  <li class="list-group-item"><b>房屋信息</b></li>
							  <li class="list-group-item">房屋类型：新房</li>
							  <li class="list-group-item">建筑面积：80平米</li>
							  <li class="list-group-item">收费面积：90平米</li>
							  <li class="list-group-item">房屋结构：平层</li>
							</ul>
					  </div>
					  <div class="col-sm-3 col-xs-12">
							<ul class="list-group">
							  <li class="list-group-item"><b>合同信息</b></li>
							  <li class="list-group-item">开工日期：2010-10-10</li>
							  <li class="list-group-item">竣工日期：2010-10-15</li>
							  <li class="list-group-item">合同总金额：80000元</li>
							</ul>
					  </div>
				  </div>
				</div>		  
			  </div>
		  </div>
		</div>
		<h6>表单UI示例</h6>
		<div class="row">
		  <div class="col-sm-12">  
		    <div class="panel panel-default">
		        <div class="panel-heading"><b>变更</b></div>
		       	   <div class="panel-body form-inline">
					  <h5 class="label label-primary">价格变更</h5><br><br>
					   <div class="form-group">价格	类型：
						  <select class="form-control">
				                  <option>1</option>
				                  <option>2</option>
				                  <option>3</option>
				                  <option>4</option>
				                  <option>5</option>
				              </select>
					  </div>
					  <div class="form-group">变更金额：<input type="text" class="form-control" placeholder="placeholder"></div>
					  <div class="form-group">变更金额：<textarea class="form-control" rows="3"></textarea></div>
			
					  <br><h5 class="label label-primary">变更总金额</h5><br><br>
					  <div class="form-group">变更费：3000元</div>
					  <div class="form-group">价格变更：-300元</div>
	
					  <br><h5 class="label label-primary">变更服务费</h5><br><br>
					  <div class="form-group">变更服务费：<input type="number" class="form-control" placeholder="placeholder" value="0">元</div>		
					  <div class="form-group">税金比例：
					  	 <select class="form-control">
				                  <option>1.1%</option>
				                  <option>2</option>
				                  <option>3</option>
				                  <option>4</option>
				                  <option>5</option>
				              </select>
					  </div>
					  <div class="form-group">税金金额：5000元</div>
					  <div class="form-group">变更单金额：2700元</div>
					  <br><h5 class="label label-primary">工期顺延天数</h5><br><br>
					  <div class="form-group">工期顺延：<input type="number" class="form-control" placeholder="placeholder" value="0">天</div>	
				  </div>	
			  </div>
		  </div>
		</div>
		<h6>表单UI示例</h6>
		<div class="row">
		  <div class="col-sm-12">  
		    <div class="panel panel-default">
		        <div class="panel-heading"><b>变更</b></div>
		       	   <div class="panel-body form-inline">
					  <b>价格变更</b><br><br>
					   <div class="form-group">价格变更类型：
						  <select class="form-control">
				                  <option>1</option>
				                  <option>2</option>
				                  <option>3</option>
				                  <option>4</option>
				                  <option>5</option>
				              </select>
					  </div>
					  <div class="form-group">变更金额：<input type="text" class="form-control" placeholder="placeholder"></div>
					  <div class="form-group">变更金额：<textarea class="form-control" rows="3"></textarea></div>
			
					  <br><b>变更总金额</b><br><br>
					  <div class="form-group">变更费：3000元</div>
					  <div class="form-group">价格变更：-300元</div>
					  <br><b>变更服务费</b><br><br>
					  <div class="form-group">变更服务费：<input type="number" class="form-control" placeholder="placeholder" value="0">元</div>		
					  <div class="form-group">税金比例：
					  	 <select class="form-control">
				                  <option>1.1%</option>
				                  <option>2</option>
				                  <option>3</option>
				                  <option>4</option>
				                  <option>5</option>
				              </select>
					  </div>
					  <div class="form-group">税金金额：5000元</div>
					  <div class="form-group">变更单金额：2700元</div>
					  <br><b>工期顺延天数</b><br><br>
					  <div class="form-group">工期顺延：<input type="number" class="form-control" placeholder="placeholder" value="0">天</div>		
				  </div>	
		       	   <div class="panel-footer">
						<h1 class="text-center">
							  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">提交(小)</button>
							  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">提交(中)</button>
							  <button type="button" class="btn btn-default">返回</button>
						</h1>
		       	   </div>
			  </div>
		  </div>
		</div>
	</div>
<!-- Modal ajax表单提交 示例-->
<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	    <form id="form_user_info"  method="post"> 
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">用户信息编辑</h4>
	      </div>
		      <div class="modal-body">
	      		  <div class="form-group"><label>姓名：</label>
	      		  <input name="username" placeholder="请输入姓名" v-model="UserInfo.username" data-rule-required="true" data-msg-required="姓名为必填项" type="text" class="form-control">
	      		  </div>
				  		<div class="form-group"><label>输入密码：</label>
	      		  <input name="password" id="userinfo_password" placeholder="请输入密码" v-model="UserInfo.password" data-rule-required="true" data-msg-required="姓名为必填项" type="text" class="form-control">
	      		  </div>
	      		  <div class="form-group"><label>重复密码：</label>
	      		  <input name="confirm_password" equalto="#userinfo_password" data-msg-equalto="两次密码不一致"  placeholder="请输入内容" data-rule-required="true" data-msg-required="姓名为必填项" type="text" class="form-control">
	      		  </div>
	      		  <div class="form-group"><label>性别：</label>
	      		  
	      		  <input name="gender" placeholder="请输入性别" v-model="UserInfo.gender" data-rule-required="true" data-msg-required="姓名为必填项" type="text" class="form-control">
	      		  </div>
					  <div class="form-group"><label>手机号：</label>
					  <input name="cellphone" placeholder="请输入手机号" v-model="UserInfo.cellphone" data-rule-required="true" data-msg-required="姓名为必填项" type="text" class="form-control">
					  </div>
					  
					  <div class="form-group"><label>用户状态：</label>
						  <select class="form-control" v-model="UserInfo.userStatus" name="userStatus">
			                   <option v-for=" i in UserInfo_fenji" value="{{i.id}}">{{i.value}}</option>
			               </select>
					  </div>
					<p class="text-center">提交后将不能进行修改</p>
		      </div>
	      <div class="modal-footer"> 
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	        <button type="submit" class="btn btn-primary">提交</button>
	      </div>
	    </form>
    </div>
  </div>
</div>

<!-- Modal 中 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">变更单确认</h4>
      </div>
      <div class="modal-body">
      		<div class="form-group">请确认以下变更单信息</div>
			<div class="form-group">变更费：3000元</div>
			<div class="form-group">变更费：3000元</div>
			<div class="form-group">变更费：3000元</div>
			<p class="text-center">提交后将不能进行修改</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div> 
</div>
<!-- Modal 小-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">变更单确认</h4>
      </div>
      <div class="modal-body">
      		<div class="form-group">请确认以下变更单信息</div>
			<div class="form-group">变更费：3000元</div>
			<div class="form-group">变更费：3000元</div>
			<div class="form-group">变更费：3000元</div>
			<p class="text-center">提交后将不能进行修改</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>
	@@include('../inc/foot.inc')
	<script>
		//------------------------------全局模式调用-无Vue声明----------------------------------
//获得初始化数据
var userStatusList = [{id:0,value:'启用'},{id:1,value:'禁用'}];
//初始化自定义函数------------------
Vue.filter('switch_1', function () {//这是一个获得下拉框文字列表的函数,可在Html代码页面中调用
	for(var i = 0;i< userStatusList.length;i++){
		if(userStatusList[i].id == this.item.userStatus){
			return userStatusList[i].value;
		}
	}
}); 
//var JZJZ = JZ.noConflict();
var table1 = JZ.TableConfig({
			data:'UserList',				//(必需)数据集合标识
			url:'/mock/data.json',				//(必需)数据接口地址
			dataCheckes:'UserListSelects',	//(多选功能必需的参数)多选容器标识,用于存放选择的结果。如:vm.UserListSelects=[1,4,5]
			key:'userId',					//(多选功能必需的参数)数据表中的主键列名(或唯一标识列)
			el_pager:'#vue-pager1',			//(分页功能必需的参数)分页容器
			limit:5						//(分页功能可选的参数)每页条数,默认10
		});
var table2 = JZ.TableConfig({
			data:'UserList2',//数据集合标识
			url:'/mock/data.json',
			dataCheckes:'UserListSelects2',
			key:'userId',
			el_pager:'#vue-pager2',
			limit:5
		});
//初始化全局Vue------------------保存整个页面所有的:1.Vue相关数据信息  2.所有Vue事件
vm = new JZ.Vue({
	el: 'body',
	tables:{
		table1:{
			data:'UserList',				//(必需)数据集合标识
			url:'/mock/data.json',				//(必需)数据接口地址
			dataCheckes:'UserListSelects',	//(多选功能必需的参数)多选容器标识,用于存放选择的结果。如:vm.UserListSelects=[1,4,5]
			key:'userId',					//(多选功能必需的参数)数据表中的主键列名(或唯一标识列)
			el_pager:'#vue-pager1',			//(分页功能必需的参数)分页容器
			limit:5						//(分页功能可选的参数)每页条数,默认10
		},
		table2:{
			data:'UserList2',//数据集合标识
			url:'/mock/data.json',
			dataCheckes:'UserListSelects2',
			key:'userId',
			el_pager:'#vue-pager2',
			limit:5
		}
	},
	data: {//数据集合
		UserInfo:{},//用户详细信息数据集合
		UserInfo_fenji:{}//下拉框数据源
	},
	methods:{//TODO:添加可调用的自定义事件
	  //修改信息
	  UserInfo_Edit:function(item,event){
		 //item:数据对象,包含了一行数据的所有字段
		 //event:获得活动点击的dom-jquery类型对象
	     var _this = $(event.target); 
	     console.log('我要编辑；当前数据行主键:'+item.userId);
	     console.log(item);
		 vm.UserInfo = item;//更新UserInfo表单下的各个文本框的value
		 $('label.form-require-error').remove();
		 $('#modal_edit').modal('show');
	  },
	  //删除信息
	  UserInfo_Delete:function(item,event){ 
		 alert('已删除！当前行主键:'+item.userId+'。即将刷新表格...');
		 table1.refresh();
	  }
	}
});
//手动填充数据示例 => 更改dom-------------------------------------------------------------------------
vm.UserInfo = {username:'',cellphone:''};
vm.UserInfo_fenji = userStatusList;
//初始化UserInfo表单-----------------------------------------------------------------------
//(Form插件封装了validate.js,和form.serialize；
//建议在信息修改、提交时使用，不需在搜索列表时使用，反而麻烦)
JZ.Form({
	form:'#form_user_info',
	url:'/mock/data.json',//TODO:更改为提交地址. 如：/user/addAction',
	success:function(data){
		alert('已提交。即将刷新表格...');
		table1.refresh();
		console.log(data);
	},
	error:function(data){
		console.log(data);
	}
});
//添加信息
function add(){
	vm.UserInfo = {};
	 $('label.form-require-error').remove();
	$('#modal_edit').modal('show');
}

//----------------------------------其他插件参考代码----------------------------------
//1.表格单例模式调用
function t1(){
	var table1 = JZ.Table({
		url:'/mock/data.json',
		el_data:'#vue-table1',
		el_pager:'#vue-pager1',
		//limit:10,//每页条数
		//page:true//是否分页
		filter:function(){//TODO:添加自定义逻辑
			Vue.filter('switch_1', function () {
				if(this.item.userId%2==0)
					return '偶数';
				return '奇数';
			});
		},
		methods:{
		  //TODO:添加可调用的事件
		  check:function(item,event){//item:数据对象
			    var _this = $(event.target);//点击的dom对象 
			    alert('我要审核；当前行主键:'+item.userId);
		  },
		  detail:function(item,event){ 
			    alert('我要查看详情');
		  }
		}
	});
}
	
	</script>
  </body>
</html>
